* {
    box-sizing: border-box;
    font-family: Arial;
}

nav{
    text-align: right;
    margin: 50px 50px;
}

a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px 10px;
    color: black;
}

.search-box{
    margin: auto;
    max-width: 300px;
}

.search-box input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.search-box button {
  float: left;
  width: 20%;
  padding: 10px 0px;
  background: #5983a5;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-box button:hover {
  background: #0b7dda;
}

.meal-box{
  display: grid;
  float: left;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  text-align: center;
  align-items: center;
}

.meal-box img{
  max-width: 100%;
}

.meal-box p {
  max-width: 100%;
}

.individual-divs{
  max-width: 70%;
  margin: 50px;
  border: 1px solid gray;
}
